# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Jupyter / ML
# =========================
.ipynb_checkpoints/
*.joblib
*.pkl

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/
