# ===============================
# Virtual Environment
# ===============================
venv/
.env/

# ===============================
# Python Cache
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# ML Model Files (optional)
# Uncomment if you want to ignore models
# ===============================
# *.pkl
# *.joblib

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Edito
